<!DOCTYPE html>
<html>
<head>
  <title>BaseRailsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= yield(:body_id) %>" class="<%= controller_name %> <%= action_name %>">
<%= render "layouts/navigation" %>
<%= yield %>
<%= render "layouts/footer" %>
</body>
</html>
